#sso-tab {
    background: #ffffff; /* White background for the box */
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

#sso-navigation-buttons-tab{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#nav-button {
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
    padding: 20px;
    background: linear-gradient(15deg, #4f5cd4, #132849);
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  /* Button hover effect */
  #nav-button:hover {
    background: linear-gradient(15deg, #343e93, #0d1d36);
    transform: scale(1.03);
  }
  
  #nav-button:focus {
    outline: none;
  }

  #active-users{
    display: flex;
    margin: 10px;
    margin-bottom: 20px;
    width: 100%;
    flex-direction: column;
  }

  .user-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 30px;
    padding: 6px;
    margin: 1px;
  }

  .user-button:hover{
    background: #f3f3f3;
  }

  .user-button:focus-visible{
    background: #e4e4e4;
    outline: none;
  }

  .profile-placeholder {
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Keep it equal to make it a perfect circle */
    border-radius: 50%; /* Makes the div circular */
    background: radial-gradient(circle, #4f5cd4, #1d3b6b);
    display: inline-block;
    margin-right: 10px; /* Adds spacing between the circle and the username */
  }

  .user-name{
    font-size: 16px;
    color: #161d54;
  }